body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 900px;
    text-align: center;
}

h1 {
    margin: 20px 0;
    color: #333;
    font-size: 2em;
}

#map {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#result {
    font-size: 1.2em;
    margin: 10px 0;
}

#progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    margin-top: 20px;
}

#progress-bar {
    height: 20px;
    background-color: #4CAF50;
    width: 0%;
    border-radius: 25px;
}

/* Iconos personalizados para los puntos */
.default-marker {
    background-color: #add8e6; /* Azul pastel */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.selected-marker {
    background-color: #ffb6c1; /* Rojo pastel */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.correct-marker {
    background-color: #98fb98; /* Verde pastel */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
